@import 'shared';

body {
  font-family: 'Helvetica-Light', Helvetica, Arial, sans-serif;
}

.Container {
  min-height: 100vh;
  background-color: $primary-bg-color;
  color: $primary-color;

  .LoadingBar {
    z-index: 9999;
    background-color: $secondary-color;
    height: 2px;
    position: fixed;
  }

  .Sider {
    background-color: white;
  }

  .Breadcrumbs {
    margin-bottom: 16px;
  }

  .Content {
    background-color: $content-bg-color;
    overflow: scroll;
    overflow-x: scroll !important;
    padding: 30px 50px;

    .Trigger {
      background: transparent;
      margin-bottom: 8px;
      border: 0;
      box-shadow: none;

      &:active,
      &:focus {
        border: 0;
        box-shadow: none;
      }
    }

    .SignInForm {
      margin: 0 auto;
      width: 300px;
    }
  }

  .Footer {
    background-color: $primary-bg-color;
    color: $primary-color;
    box-shadow: 0 -1px 2px 0 #000;
    margin-top: 2px;
  }
}
