@import "shared.scss";

.Container {
  display: block;

  .CloseButton {
    position: fixed;
    top: 24px;
    right: 32px;
    z-index: 10000;
    font-weight: bold;
    font-size: 28px;
    color: white;

    &:hover {
      color: $primary-tint-color;
    }
  }

  .LeftButton {
    position: fixed;
    top: 45%;
    left: 32px;
    z-index: 10000;
    font-weight: bold;
    font-size: 28px;
    color: white;

    &:hover {
      color: $primary-tint-color;
    }
  }

  .RightButton {
    position: fixed;
    top: 45%;
    right: 32px;
    z-index: 10000;
    font-weight: bold;
    font-size: 28px;
    color: white;

    &:hover {
      color: $primary-tint-color;
    }
  }
}

.Modal {
  .Actions {
    .DropdownLink {
      font-weight: bold;
      font-size: 26px;
      float: right;
      color: $primary-color;

      a {
        min-width: 120px;
      }
    }
  }

  .LeftSection {
    padding: 6px;

    .Slider {
      border: 1px solid #ddd;
      box-shadow: 1px 1px 20px 1px #ddd;
      position: relative;

      :global(.slick-prev), :global(.slick-next) {
        z-index: 1;

        &::before {
          color: black;
        }
      }

      :global(.slick-prev) {
        left: 16px;
      }

      :global(.slick-next) {
        right: 16px;
      }

      .Slide {
        min-height: 200px;
        padding: 8px;

        img {
          width: 100%;
        }
      }

      :global(.slick-dots) {
        bottom: 8px;

        li {
          margin: 0;

          button {
            &::before {
              font-size: 10px;
            }
          }
        }
      }
    }

    .Thumbs {
      margin: 8px -2px;

      .Thumb {
        padding: 2px;
        margin: 0 2px;
        border: 1px solid #ddd;
        width: 60px;
        height: 60px;
        display: inline-block;
        position: relative;

        &.Active {
          border: 2px solid $secondary-color;
        }

        img {
          max-width: calc(100% - 4px);
          max-height: calc(100% - 4px);
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }

    .Author {
      font-size: 13px;
      color: $info-color;

      a {
        text-decoration: underline;
      }
    }
  }

  .RightSection {
    padding: 6px;

    .Title {
      width: 100%;
      white-space: pre-line;
      word-wrap: break-word;
      font-size: 15px;
      font-weight: bold;
    }

    .Description {
      width: 100%;
      white-space: pre-line;
      word-wrap: break-word;
      color: $info-color;
      font-size: 13px;
    }
  }
}

.ActionItem {
  min-width: 120px;
}