@import 'shared';

.Container {
  display: block;

  .Overview {
    .Miscs {
      .SmallMisc {
        margin: 0 8px 8px 0;
        font-size: 14px;
        color: $secondary-tint-color;
      }

      .Misc {
        margin: 0 12px 8px 0;
        font-size: 14px;
        color: $secondary-tint-color;

        i {
          margin: 0 2px 0 0;
        }
      }
    }

    .Description {
      margin: 16px 0 0 0;
      font-size: 14px;
      white-space: pre-line;
    }
  }

  .Sheets {
    margin: 16px 0;

    .ViewAllTwo {
      font-size: 13px;

      a {
        font-weight: bold;
        text-decoration: underline;
      }
    }
  }

  .DropdownLink {
    font-weight: bold;
    font-size: 26px;
    float: right;
    color: $primary-color;

    i {
      vertical-align: bottom;
    }
  }
}

.ActionItem {
  min-width: 120px;
}
