@import 'shared.scss';

.Component {
  display: block;
  display: inline-block;
  font-size: 13px;

  .User {
    font-size: 18px;
  }

  i {
    margin-left: 4px;
    font-weight: bold;
    font-size: 14px;
    vertical-align: middle;
  }

  img {
    border: 1px solid $primary-tint-color;
    border-radius: 100px;
    height: 40px;
    width: 40px;
    object-fit: cover;
    vertical-align: bottom;
  }
}

.InlineComponent {
  font-weight: bold;

  i {
    color: $navigator-color;
    font-weight: bold;
    font-size: 20px;
  }

  img {
    border: 1px solid $primary-tint-color;
    border-radius: 100px;
    height: 40px;
    width: 40px;
    object-fit: cover;
    vertical-align: bottom;
    margin-right: 8px;
  }
}

.Popover {
  :global(.ant-popover-inner-content) {
    min-width: 120px;
    padding: 0;

    .Menu {
      border-right: 0;

      :global(.ant-menu-item) {
        padding: 0 8px;
        height: 36px;

        a {
          font-weight: bold;
        }
      }
    }
  }
}