@import 'shared.scss';

.Component {
  display: block;

  &:hover {
    .Title {
      color: $secondary-color;
    }

    .Description {
      color: $secondary-color;
    }
  }

  img {
    width: 100%;
  }

  .Title {
    font-weight: bold;
    color: $primary-color;
  }

  .Description {
    color: $info-color;
    width: 100%;
    word-wrap: break-word;
  }
}

.Bordered {
  border: 1px solid #ddd;
  box-shadow: 1px 1px 20px 1px #ddd;
  padding: 8px;

  &:hover {
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  }
}

.Unbordered {
  .Title {
    padding: 0 8px;
  }
}