@import 'shared.scss';

.Component {
  display: block;

  :global(.ant-modal-header) {
    :global(.ant-modal-title) {
      font-weight: bold;
      text-align: center;
    }
  }
}

.InputWrapper {
  .Radio {
    text-align: center;
    margin: 0 0 8px 0;

    :global(.ant-radio-button-wrapper), :global(.ant-radio-button-wrapper-checked) {
      border-radius: 0;
      border: 0;
      box-shadow: 0 0 0 0;
      font-weight: bold;
      font-size: 16px;

      &::before, &::after {
        width: 0;
      }
    }
  }

  .Uploader {
    display: block;

    :global(.ant-upload) {
      width: 200px;
      height: 250px;

      @media(min-width: 768px) {
        float: right;
      }

      .UploaderText {
        font-weight: bold;
        line-height: 1;
        padding: 4px 12px;
      }
    }

    :global(.ant-upload-list) {
      width: 100%;

      @media(min-width: 768px) {
        float: right
      }
    }
  }
}