.Component {
  display: block;

  i {
    font-size: 24px;
  }

  sup {
    height: 12px;
    min-width: 12px;
    line-height: 12px;
    padding: 0 2px;
    font-size: 10px;
    top: -5px;
  }
}

.Popover {
  :global(.ant-popover-inner-content) {
    min-width: 200px;
    padding: 0;

    .Menu {
      border-right: 0;

      :global(.ant-menu-item) {
        padding: 0 8px;
        height: 36px;

        a {
          font-weight: bold;
        }
      }
    }
  }
}

.Menu {
  overflow: scroll;
  width: 300px;
  max-height: 300px;
  padding: 0;

  :global(.activity-action) {

  }

  :global(.object-type) {
    font-weight: bold;
  }

  :global(.object-value) {
    font-weight: bold;
    text-decoration: underline;
    color: #1890ff;
  }

  .Activity {
    padding: 12px 16px 0;

    &.NewActivity {
      background-color: #edf2fa;
    }

    hr {
      margin: 12px 0 0 0 !important;
      padding: 0 !important;
    }
  }

  .NoNotifcation {
    padding: 12px 16px;
    font-style: italic;
  }
}