@import 'shared.scss';

.Component {
  padding: 15px 0;
  width: 100%;

  .Input {
    height: 32px;
    color: $primary-color;

    &:hover, &:focus, &:active {
      :global(.ant-input) {
        border: 1px solid $primary-tint-color;
      }
    }

    i {
      font-size: 18px;
      color: $info-color;
    }

    :global(.ant-input) {
      padding-left: 40px;
      font-size: 14px;
      border-radius: 3px;

      &:hover, &:focus, &:active {
        border: 1px solid $primary-tint-color;
      }
    }

    :global(.ant-input) {
      border: 0 !important;
    }
  }
}
