@import 'shared';

.Component {
  display: block;

  .StashCard {
    max-width: 300px;
    margin: 12px 20px;
    box-shadow: 1px 1px 20px 1px #ddd;
    border: 1px solid #ddd;

    :global(.ant-card-body) {
      padding: 0;

      .StashLink {
        display: block;
        position: relative;

        &.AddStashLink {
          height: 240px;
        }

        .AddStash {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-weight: bold;
          font-size: 20px;

          i {
            font-size: 60px;
          }
        }

        .StashCover {
          img {
            width: 100%;
          }
        }

        .StashDetails {
          padding: 8px;

          .StashTitle {
            font-weight: bold;
            font-size: 16px;
          }

          .StashMiscs {
            float: right;

            .StashSmallMisc {
              margin: 0 0 4px 8px;
              font-size: 12px;
              color: $secondary-tint-color;
            }

            .StashMisc {
              margin: 0 0 8px 8px;
              font-size: 12px;
              color: $secondary-tint-color;

              i {
                margin: 0 2px 0 0;
              }
            }
          }
        }
      }
    }
  }
}