@import 'shared.scss';

.Component {
  display: block;
  margin: 0 12px 12px 0;

  @media (max-width: 768px) {
    margin: 0 0 12px 0;
  }

  .UserActions {
    float: right;

    :global(.link-primary), .DropdownLink {
      margin: 0 4px;
      font-weight: bold;
      font-size: 16px;
    }

    .DropdownLink {
      color: $primary-color;
    }
  }

  .UserAvatar {
    display: inline-block;

    img {
      border: 1px solid $primary-tint-color;
      border-radius: 100px;
      height: 90px;
      width: 90px;
      object-fit: cover;
      display: inline-block;
    }
  }

  .UserUsername {
    margin: 0 0 0 12px;
    display: inline-block;
    vertical-align: top;
  }
}